<base href="{pyro:url:base}"><meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Osvaldo Brignoni">
<meta name="distribution" content="global">
<meta name="resource-type" content="document">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{pyro:settings:site_name}&nbsp;&bull;&nbsp;{pyro:template:title}</title>
{pyro:template:metadata}
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{pyro:theme:css file="mobile.css.php"}
{pyro:theme:css file="mobile.js.php"}
